@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');





.navbar,.whypizza,.readyorder,.hero,.small-navbar,.empty-cart,.signup,.pizza-main-hero{
  font-family: "Cabin Sketch", sans-serif;
}


body{
 
  background-color: #000000;
}

.signup-heading{
  font-family: "Monoton", sans-serif;
}


.main-pizza{
  filter: drop-shadow(15px 15px 180px rgb(255, 0, 0));
}